<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>Daily Journal View</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="highlight">Highlight</label>
            <input type="text" id="highlight" class="form-control" aria-describedby="example-text" placeholder="What is one thing you want to accomplish today?">
          </div>
          <div class="form-group">
            <label for="example-positive">Positive</label>
            <input type="text" id="example-positive" class="form-control" aria-describedby="example-text" placeholder="Record a positive aspect of your day">
          </div>
          <div class="form-group">
            <label for="example-negative">Negative</label>
            <input type="text" id="example-negative" class="form-control" aria-describedby="example-text" placeholder="Record a negative aspect of your day">
          </div>
          <div class="form-group">
            <label for="option1">Option 1</label>
            <input type="text" id="option1" class="form-control" aria-describedby="example-text" placeholder="Text Here">
          </div>
          <div class="form-group">
            <label for="option2">Option 2</label>
            <input type="text" id="option2" class="form-control" aria-describedby="example-text" placeholder="Text Here">
          </div>
          <div class="form-group">
            <label for="option3">Option 3</label>
            <input type="text" id="option3" class="form-control" aria-describedby="example-text" placeholder="Text Here">
          </div>
          <div class="form-group">
            <label for="music">Music</label>
            <input type="text" id="music" class="form-control" aria-describedby="example-text" placeholder="A song you liked">
          </div>
          <div class="form-group">
            <label for="video">TV/Streaming</label>
            <input type="text" id="video" class="form-control" aria-describedby="example-text" placeholder="A show you enjoyed">
          </div>
        
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>

        {{!-- this can be used as a partial to go to week view --}}
        <h3>Your Week:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}"><p>Monday</p></a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
